DB_HOST=192.168.11.19
DB_PORT=3306
DB_USER=root
DB_PASSWORD=evanevan2025
DB_NAME=cnnbgptFIN
CRM_DB_HOST=192.168.11.19
CRM_DB_PORT=3306
CRM_DB_USER=root
CRM_DB_PASSWORD=evanevan2025
CRM_DB_NAME=cnnbgptCRM
ERP_DB_HOST=192.168.11.19
ERP_DB_PORT=3306
ERP_DB_USER=root
ERP_DB_PASSWORD=evanevan2025
ERP_DB_NAME=cnnbgptERP
API_PORT=3301
PORT=3301
PORTAL_PORT=5301
ADMIN_PORT=5302
BIND_HOST=0.0.0.0
INIT_DB_ON_START=1
